<h1>List all users</h1>


<% @users.each do |user| %>
  <div>
    <div>
      <p>(<%= user.name %> profile picture)</p>
    </div>
    <h2>Name: <%= user.name %></h2>
    <p>Number of posts: <%= user.posts_counter%></p>
    <%= link_to 'User details', "/users/#{user.id}" %>

 
  </div>
<% end %> 